.not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.not-found__title {
    font-weight: normal;
    font-size: 140px;
    line-height: 169px;
    color: #FFFFFF;
    text-align: center;
    margin: 246px 0 0 0;
    padding: 0;
}

.not-found__text {
    margin: 5px 0 184px;
    padding: 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.not-found__button {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4285F4;
    text-decoration: none;
    transition: opacity 0.5s linear;
    background: transparent;
    outline: none;
    border: none;
}

.not-found__button:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media all and (max-width: 1023px) {
    .not-found__title {
        margin-top: 408px;
    }
}

@media all and (max-width: 767px) {
    .not-found__title {
        margin-top: 329px;
        font-size: 80px;
        line-height: 97px;
    }

    .not-found__text {
        margin: 10px 0 284px;
        font-size: 12px;
        line-height: 15px;
    }

    .not-found__button {
        font-size: 12px;
        line-height: 15px;
    }
}