.header__menu-burger {
    display: none;
    background: url(../../images/burger.svg) no-repeat;
    min-height: 44px;
    width: 44px;
    border: none;
    transition: opacity 0.5s linear;
}

.header__menu-burger:hover {
    opacity: 0.7;
    cursor: pointer;
}

@media screen and (max-width: 768px) and (min-width: 320px) {
    .header__menu-burger {
        display: block;
    }
}