.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 70px;
    height: 100vh;
    max-height: 700px;
}

.auth__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 396px;
    height: 100%;
    max-height: 700px;
    width: 100%;
}

.auth__header {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 40px 0 0 0;
}

.auth__form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 40px 0 16px 0;
}

.auth__button {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    padding: 13px 0 15px 0;
    border: none;
    border-radius: 3px;
    background-color: #4285F4;
    margin: 69px 0 0 0;
}

.auth__text {
    font-size: 14px;
    line-height: 1.21;
    color: #8B8B8B;
    margin: 0;
    width: 100%;
    text-align: center;
}

.auth__link {
    color: #4285F4;
    margin-left: 6px;
    text-decoration: none;
}

.auth__module {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin-bottom: 6px;
}

.auth__module-text {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #8B8B8B;
    margin: 0 0 10px 0;
}

.auth__field {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    background-color: #2F2F2F;
    color: #FFFFFF;
    height: 46px;
    border-radius: 8px;
    padding: 0 0 0 15px;
    border: none;
    width: 100%;
    box-sizing: border-box;
}

.auth__field_color-error {
    color: #EE3465;
}

.auth__field:focus {
    outline: 1px solid #2BE080;
}

.auth__error {
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    margin: 10px 0 0 0;
    display: block;
    opacity: 0;
}

.auth__error-display {
    opacity: 1;
}


@media screen and (max-width: 1000px) {

    .auth {
        max-height: 1024px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 530px) {

    .auth {
        padding: 56px 30px 30px;
    }

    .auth__header {
        margin: 50px 0 80px 0;
    }

    .auth__container {

        display: flex;
        flex-direction: column;
        align-items: center;
        max-height: 100%;
    }

    .auth__form {
        margin: 80px 0 14px 0;
    }

    .auth__text {
        font-size: 12px;
        line-height: 15px;
    }

    .auth__button {
        font-size: 12px;
        line-height: 15px;
        margin: 157px 0 0 0;
    }
}